<!DOCTYPE html>
<html>
    <head>
        <title>My site</title>
    </head>
    <body>
        <p>Login page!</p>
        <form>
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="username" required>
            <br><br>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="password" required>
            <br><br>
            <input type="button" value="Submit">
        </form>
        <a href="/">Back to home page</a>
    </body>
</html>
